
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
}

.avatar {
  border-radius: 50%;  
  margin: 1em 0;
  float: right;
  max-width: 100%;
}

p {
  margin: 10px;
}
    

body {
  padding: 0;
  margin: 0;
}

header {
  height: 50px;
  background: #000;
  color: #fff;
  padding: 0 .5rem 0 1rem;
  margin-bottom: 40px;
}

header .logo {
  line-height: 50px;
  font-weight: bold;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li{
  display: inline;
}

nav ul li a:hover {
  background: #444;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  display: inline-block;
  padding: 0 .5rem;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
} 


main {
/* Use a margin to center the page */
  margin: 0 auto;

/* Set the width of the content */
  width: 960px;

/* For smaller screens to not exceed the max screen width */
  max-width: 100%;
  text-align: left;
}

#toggleMenu {
  display: none;
}

@media only screen and (max-width: 960px) {
/*  main {
    max-width: 90%;
  }*/
  nav {
    display: none;
    background: #000;
  }

  #toggleMenu {
    display: block;
    float: right;
    line-height: 50px;
  }

  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited {
    display: block;
    border-bottom: 1px solid #777;
  }

  header {
    position: relative;
  }
    
  nav {
    position: absolute;
    display: none;
    background: #000;
    top: 50px;
    left: 80%;
    right: 0;
    opacity: 0.5;
  } 
}

  /* RESUME PAGE */

div #titleCenter {
  text-align: center;
  margin-bottom: 10px;
}

#titleName {
  text-align: center;
}

#nameTitle {
  margin-bottom: 2px;
}

#addressWrapper {
  text-align: center;
}
  
.competences {
  text-align: center;
}

#coreList {
  display: inline-block;
  text-align: start;
  margin-top: 1px;
}

#summaryList {
  padding-inline-start: 30px;
}

.certBlock {
  display: inline-block;
  text-align: left;
}

#experience p {
  margin: 0px;
}

#jobTimeline h4 {
  display: inline;
  margin: 0 10px;
}

#jobTimeline p {
  margin-left: 10px;
}

.jobDate {
  float: right;
  margin: 0;
}

.jobTitle {
  margin-bottom: 5px;
  margin-left: 10px;
}

#jobTitleList {
  margin-top: 0px;
}
